.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
    padding-bottom: 5%;
}
.container {
    display: grid;
    height: 100vh;
    width: 80%;
    grid-template-columns: 0.8fr 1fr 1fr;
    grid-template-rows: 20vh 15vh 1fr 0vh;
    grid-template-areas: 
        "navBar navBar navBar navBar"
        "sideBar subNavBar subNavBar subNavBar"
        "sideBar main main main"

    ;
}
.submit-assignment-header{
    min-height: 20vh;
    width: 100vw;
    position: relative;
    background-image: url(../images/Student-AP.jpg);
    background-size: cover;
    overflow: hidden !important;
    text-align: left;
    padding: 0 3rem;
}
.submit-assignment-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 68, 49, 0.6); /* 60% opacity */
  }
  

.submit-assignment-header h1 {
    color: #fff;
    font-size: 3rem;
    position: absolute;
    bottom: 20%;
    justify-content: space-around;
    margin: 0 3rem;

}

#subNavBar{

    grid-area: subNavBar;
}
#main{

    grid-area: main;
}
.MainLayout{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 600px;
    overflow-y: auto; 
    padding-top: 5vh;
}
#navBar{

    grid-area: navBar;
}
#sideBar{

    grid-area: sideBar;

}

.Submit-NextLayout{
    display: flex;
    align-items: end;
    justify-content: end;
    padding-left: 5%;
    height: 5%;
    margin-top: 15%;
}


/*sidebarContents*/

.sideBarLayout{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBarContent2{
    background-color: #244431;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.sideBarContentHR{
    border: 2px solid white;
    width: 100%;
    margin-top: 8vh;
}

.sideBarDetails{
    display: flex;
    justify-content: start;
    margin-top: 2vh;
    width: 80%;
    color: white;
}


.sideBarDetailsINDI{
    display: flex;
    align-items: center;
    gap: 2vh;
}


/*subNavBarContents*/

.subNavBarLayout{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subNavBarContent2{
    background-color: #244431;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5vh;
}

.subNavBarContentInfo{
    font-size: 5vh;
}


/*NavBarContents*/
.NavBarLayout{
    display: flex;
    justify-content: start;
    align-items: center;
}

.NavBarLayoutContent{
    font-size: 8vh;
    margin-top: 4vh;
    padding-left: 45px;
}


/*ProjectDetails*/
.ProjectDetailsContents {
    padding: 5%;
}

.ProjectDetailsText {
    padding: 10px 20px;  
    text-align: start;
    white-space: pre-wrap;
}



.upload-section{
    padding: 5%;
    max-height: 600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}


/* download file */
.center-container {
    position: relative;
    width: 50vh;
    height: 25vh;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

 
.add-file-download {
    text-align: center;
    font-weight: 600;
}

 
.add-file-download img {
    width: 100%;
    height: 100%;
    padding: 10px;
    
    
}
