.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: grid;
    height: 100vh;
    width: 80%;
    grid-template-columns: 0.8fr 1fr 1fr;
    grid-template-rows: 20vh 15vh 1fr 0vh;
    grid-template-areas: 
        "navBar navBar navBar navBar"
        "sideBar subNavBar subNavBar subNavBar"
        "sideBar main main main"

    ;
}

#subNavBar{

    grid-area: subNavBar;
}
#main{

    grid-area: main;
}
.MainLayout{
    display: flex;
    flex-direction: column;
    height: 100%;
}
#navBar{

    grid-area: navBar;
}
#sideBar{

    grid-area: sideBar;
}

.Submit-NextLayout{
    display: flex;
    align-items: end;
    justify-content: end;
    height: 5%;
}


/*sidebarContents*/

.sideBarLayout{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBarContent{
    background-color: #DDA960;
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.sideBarContentHR{
    border: 2px solid white;
    width: 100%;
    margin-top: 8vh;
}

.sideBarDetails{
    display: flex;
    justify-content: start;
    margin-top: 2vh;
    width: 80%;
    color: white;
}


.sideBarDetailsINDI{
    display: flex;
    align-items: center;
    gap: 2vh;
}


/*subNavBarContents*/

.subNavBarLayout{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subNavBarContent{
    background-color: #DDA960;
    color: white;
    height: 80%;
    width: 100%;
    margin-top: 5vh;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5vh;
}

.subNavBarContentInfo{
    font-size: 5vh;
}


/*NavBarContents*/
.NavBarLayout{
    display: flex;
    justify-content: start;
    align-items: center;
}

.NavBarLayoutContent{
    font-size: 8vh;
    margin-top: 4vh;
    padding-left: 45px;
}


/*ProjectDetails*/
.ProjectDetailsContents{
    padding-top: 30%; /* Set top padding to 50% */
    padding-left: 5%; /* Set left padding to 5% */
    padding-right: 5%; /* Set right padding to 5% */
    padding-bottom: 5%; /* Set bottom padding to 5% */
    max-height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto; 
}

.ProjectDetailsText{
    text-align: start;
}

.upload-section{
    padding-top: 10%; /* Set top padding to 50% */
    padding-left: 5%; /* Set left padding to 5% */
    padding-right: 5%; /* Set right padding to 5% */
    padding-bottom: 5%; /* Set bottom padding to 5% */
    max-height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto; }